 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<h1>New Meal Request</h1>
<div class="span12 pagination-centered">
    
<h2>Quantity</h2>
    <select id="quant" class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
  <input id="mealReq"type="text" class="form-control" placeholder="Meal instructions">



  
                         <h3> You are seen as: <%= current_user.full_name %>
                            </h3>
<button id="registerBtn" type="button" class="btn btn-success">Submit</button>

     
      
</div>

          <script type="text/javascript">
  Parse.initialize("hp6r4JwAJAqd72TLjosOIWddgAij01DyYjnU2KV8", "dXg9oQ0w2h05KXcFzqktc0FEIGkYF2H9RdBoCyhk");
  var TestObject = Parse.Object.extend("TestObject");
var testObject = new TestObject();
testObject.save({foo: "bar"}, {
  success: function(object) {
    alert("yay! it worked");
  }
});

   

  </script>