<body>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/home3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome!</h1>
              <p class="lead">Thanks for visiting, we'd love to hear from you.</p>
              
              <a class="btn btn-large btn-primary"<%= link_to "Contact", about_index_path %></a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/home_3.5.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
             <br>
             <br>
             <h1>Alumni.</h1>
              <p class="lead">They're something we look up to, and more importantly, grow up with.</p>
              <a class="btn btn-large btn-primary"<%= link_to "Learn More", alumni_index_path %></a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/home1.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <br>
              <h1>Why join Sigma Nu?</h1>
              <p class="lead">Do you have what it takes to become a "Nu" member? </p>
              <a class="btn btn-large btn-primary" <%= link_to "Learn More", justsnuit_index_path %></a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->



   

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="/home_1.jpg">
        <h2 class="featurette-heading">Brotherhood. <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">We are not just friends, we're all brothers. No matter what situation, we all support eachother with love, truth and honor.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="/home2.jpg">
        <h2 class="featurette-heading">Oh yeah, Mr. 2000. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Just recently, we've activated our 2000 member. It's kind of a big deal. That means 2,000 quality men have been through our house pursing love, truth and honor all over the world. </p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        
        <h2 class="featurette-heading">An enviorment you'll love?<span class="muted"> Check.</span></h2>
        <div class="row">
          <div class="span7 offset5">
          <img src="/sigma_nu_logo1.gif">
        </div>
          <div class="span4 offset3">
            <img src="/greek_logo.gif">
          </div>
          <div class="span3"><img src="/UM-Main-Logo-Maroon.gif">
          </div>


        </div>
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <a href="http://www.linkedin.com/pub/wyatt-melin/42/943/5a5">Developed by Wyatt Melin Gamma Phi 1990</a> · <a href="https://www.facebook.com/groups/160417487312806/">Photos by Tommy Martino Gamma Phi 1987</a></p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="../assets/js/holder/holder.js"></script>
  

</body>

