<br>
<h1>Alumni</h1>
<p class="lead text-center">Our Alumni here at Sigma Nu Montana are all important to us, we want to make sure that we always keep in touch. No matter where they may be. We enjoy keeping in touch with our alumni, and have an Aumni tailgate in fall semester + members can attend Alumni lunch every Thrusday throughout the semester.</p>


<div class="row-fluid">
   <div class="span12 pagination-centered"><img class="fadeIn" src="/alumni.jpg" alt="header" /></div>
</div>
<br>
<br>
<br>
<br>

<p class="lead text-center">If you're alumni and viewing this page, we invite that you come keep in touch through our alumni facebook page. Click the grey facebook icon to take you the alumni <a href="https://www.facebook.com/pages/Sigma-Nu-Gamma-Phi-Alumni-UM/131107246986447" target="_blank">page.</a></p>


		<legend></legend>



