<%= stylesheet_link_tag "alumni" %>
<br>
<br>
<div class="span12 pagination-centered">
<h1 id="title" class="title">Alumni</h1>
		<legend></legend>	

		
		
		<p class="lead text-center">Our Alumni here at Sigma Nu Montana are all important. Togeather, we both acieve great things within our community. </p>

		<div class="row-fluid">
  <img src="/philanthropy.jpg" alt="header" />
</div>

		
		<h2>Relations</h2>
		<p>
			Throughout the school year, members within the fraternity have plenty of opportunities to meet up with our current alumni. Every Thursday at noon, members can eat lunch which are held locally at the Iron Horse in downtown Missoula. Oh, and if you're nice enough, they might just cover your bill! 
		</p>
		<p>
			Every fall semester, we have an alumni tailgate for the homecoming game. There, members and alumni meet up to enjoy grilled food and beverages from our house chef. Check out the photo below. If you would like to learn more about other alumni relations events we have, please take a vist to our <%= link_to "contact", about_index_path %> page to ask a question. 
		</p>
		<img class="fadeIn" src="/alumni.jpg" alt="header" />
		<h2>Why Become Alumni?</h2>
		<p>
			There are various reasons why becoming a Sigma Nu Alumni can be a valuable tool in our education process. Having initiated over 230,000 members nation wide, Sigma Nu provides a  network community of men who are a legacy of Honor.  Another advantage is Sigma Nu Alumni are taught valuable business, interpersonal and social skills that make our world better a place.
		</p>
	</div>






<br>
<br>
<br>
<br>

<p class="lead text-center">If you're alumni and viewing this page, we invite that you come keep in touch with other alumni through the <a href="https://www.facebook.com/pages/Sigma-Nu-Gamma-Phi-Alumni-UM/131107246986447" target="_blank">facebook page.</a></p> 
 </div>
</div>
</div>
		<legend></legend>



