<%= stylesheet_link_tag "justsnuit"%>
<br>
<div class="hero-unit">
  <h1>Why Join?</h1>
  <p>Do you have what it takes to become a "Nu" member? </p>
  <img class="animated pulse" src="/why_join.jpg" alt="home">
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<legend></legend>
  <div class="bs-docs-grid">
            <div class="row-fluid show-grid">
              <div class="span4"><p class="lead">Being the new guy can be a bit promblematic for some people, but here at Sigma Nu, we applaud new people who are determined to live by: Love, Truth and Honor. </p></div>
              <div class="span4 offset4"><img src="/nu.gif"></div>
            </div><!-- /row -->
            
<br>
  

		<legend></legend>
  
  


<br>
<br>
<div class="bs-docs-grid">
   <div class="row-fluid show-grid">
     <div class="span4 offset1">
<img src="/logos_badge.gif">
</div>
<div class="span4 offset2">
<p class="lead text-right">So what exactly do we look for in new members? Well such a tough question can have some sort of framework.  People who have ambition to succeed in life academically, socially and fraternally are the ideal canidates we're looking for.</p></div>

</div>
</div>

<br>
<br>
	<legend></legend>
<div class="bs-docs-grid">
  <div class="row-fluid show-grid">
    <div class="span4 offset1">
<p class="lead">Additionally we have a chef! Our chef cooks Monday-Friday in the picture to the right he is cooking at our Alumni tailgate. (He makes great chili for the record.) And coming soon members can also request late plates online.</p>
</div>
<div class="span4 offset2">
 <img src="/tom_jpg.jpg" alt="home">
 </div>
<br>
<br>
<br>
</div>
</div>
	<legend></legend>


<p class="lead text-center">If you would like to learn more about our fraternity, feel free to check out the links below!</p>
	<footer class="footer">




      <div class="container">
        <p>Click here to check out our <a href="https://www.facebook.com/pages/Sigma-Nu-Gamma-Phi-Chapter-U-of-M/374382014218?id=374382014218&sk=photos_stream" target="_blank">photos</a>.</p>
        <p>Still not conivnced? Click here to learn more about what our fraternity has to offer<a href="http://becomeasigmanu.org/site/splash" target="_blank"> nationally.</a><br> Click here to check out all the famous brothers of our <a href="http://www.sigmanu.org/about/famous_sigmanus.php">fraternity</a>.</p>
       
        <img src="/montana.gif">
       
      </div>
    </footer>

    

