@media (min-width: 980px) {
	body {
	
	padding-top: 40px;
}



.alert {
	margin-top: 10px;
}

}



.alert {
	margin-top: 10px;
}

#footer-wrapper {
position: relative;
float: left;
padding: 24px 0 0 0;
height: auto;
width: 100%;
text-align: center;
background-color: #EAC117;
-webkit-box-shadow: inset rgba(0, 0, 0, 0.35) 0 5px 25px;
-moz-box-shadow: inset rgba(0, 0, 0, 0.35) 0 5px 25px;
}
.centered {
	margin:0 auto;
}
.constrain {
	max-width: 1140px;
}

.grid {
	width:100%;
	margin: 0 auto;
}
.col-1-5 {
	width: 29%;
	list-style:none;

	
}
@media (min-width: 633px) {

[class*=col-] {
  float: left;
}
}

#footnav {
    display: table;
    height: 10px;
    width: 60%;
}

#footnav li {
    display: table-cell;
    height: 10px;
   
    line-height: 87px;
   padding-left: 10px;
   padding-right: 0px;
    
    
    white-space: nowrap;
}​



.sub-footer {
	width: 100%;
	background-color: #222;
	padding:10px; 
	margin-top: 20px; 
}


#footer {
padding-top: 2px;
margin-right: auto;
margin-left: auto;
position: relative;
width: 100%;
}

#footer-crown {
position: absolute;
top: 0;
left: 178px; /* optical nudging */
width: 70px;
height: 60px;
background: transparent url(/images/structure/mot-simple-white.png) no-repeat bottom left;
background-size: 70px 60px;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
#footer-crown {
background: transparent url(/images/structure/mot-simple-white@2x.png) no-repeat bottom left;
background-size: 70px 60px;
}
}
img, img.scale-with-grid { outline: 0; max-width: 100%; height: auto; }

#footer-crown span {
display: none;
}

#footer p {
margin-left: 250px;
width: 500px;
color: white;
}

#footer a {
color: #333333;
text-decoration: underline;
}

#legal {
padding-top: 20px;
}